[project]
name = "va"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "docker>=7.1.0",
    "gymnasium>=1.2.3",
    "pydantic>=2.12.5",
]
